In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn import cross_validation, metrics
from sklearn.grid_search import GridSearchCV

import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 4

In [2]:
train=pd.read_csv("train_pre12.csv")

In [107]:
train.columns

Index([u'label', u'clickTime', u'conversionTime', u'creativeID', u'userID',
       u'positionID', u'connectionType', u'telecomsOperator', u'adID',
       u'camgaignID', u'advertiserID', u'appID', u'appPlatform', u'age',
       u'gender', u'education', u'marriageStatus', u'haveBaby', u'residence',
       u'sitesetID', u'positionType', u'appCategory', u'day', u'hour',
       u'residence2', u'creativeID_age', u'creativeID_gender',
       u'creativeID_education', u'creativeID_marriageStatus',
       u'creativeID_haveBaby', u'creativeID_advertiserID',
       u'creativeID_residence', u'creativeID_hour', u'sitesetID_positionType',
       u'creativeID_residence2', u'creativeID_positionID',
       u'creativeID_telecomsOperator', u'creativeID_sitesetID',
       u'connectionType_residence', u'connectionType_residence2',
       u'adID_advertiserID', u'adID_age', u'adID_gender', u'adID_education',
       u'adID_marriageStatus', u'adID_haveBaby', u'age_gender',
       u'age_gender_edu', u'camgaignID_age', u'camgaignID_gender',
       u'camgaignID_education', u'camgaignID_marriageStatus',
       u'camgaignID_haveBaby', u'camgaignID_age_gender_edu',
       u'adID_age_gender_edu', u'creativeID_age_gender_edu', u'appID_age',
       u'appID_gender', u'appID_education', u'appID_marriageStatus',
       u'appID_haveBaby', u'appID_age_gender_edu', u'appID_appPlatform',
       u'appPlatform_age', u'appPlatform_edu', u'appPlatform_age_gender_edu',
       u'positionID_age', u'positionID_gender', u'positionID_education',
       u'positionID_marriageStatus', u'positionID_haveBaby',
       u'positionID_age_gender_edu', u'sitesetID_age', u'sitesetID_gender',
       u'sitesetID_education', u'sitesetID_marriageStatus',
       u'sitesetID_haveBaby', u'sitesetID_age_gender_edu'],
      dtype='object')

In [98]:
def expctr(df,vn):
    vn_key = vn
    day1 = 16
    for day_v in xrange(17,30):
        filter_t = np.logical_and(df.day.values > day1, df.day.values <= day_v)
        t1 = df.ix[filter_t, :]
        filter_t2 = np.logical_and(t1.day.values != day_v, t1.day.values < 31)
        df['_key1'] = df[vn].astype('category').values.codes
        df_yt = df.ix[filter_t2, ['_key1', 'label']]
        grp1 = df_yt.groupby(['_key1'])
        sum1 = grp1['label'].aggregate(np.sum)
        cnt1 = grp1['label'].aggregate(np.size)
        v_codes = df.ix[df.day.values == day_v, '_key1']
        _sum = sum1[v_codes].values.astype(float)
        _cnt = cnt1[v_codes].values
        df.loc[df.day.values == day_v, 'cnttv_'+vn_key]=np.divide(_sum,_cnt)

In [106]:
del train['_key1']

In [223]:
vn_list=[ 'creativeID', 'userID',
       'positionID', 'connectionType', 'telecomsOperator', 'adID',
       'camgaignID', 'advertiserID', 'appID', 'appPlatform', 'age',
       'gender', 'education', 'marriageStatus', 'haveBaby', 'residence',
       'sitesetID', 'positionType', 'appCategory',  'hour',
       'residence2', 'creativeID_age', 'creativeID_gender',
       'creativeID_education', 'creativeID_marriageStatus',
       'creativeID_haveBaby', 'creativeID_advertiserID',
       'creativeID_residence', 'creativeID_hour', 'sitesetID_positionType',
    'creativeID_residence2', 'creativeID_positionID',
       'creativeID_telecomsOperator', 'creativeID_sitesetID',
       'connectionType_residence', 'connectionType_residence2',
       'adID_advertiserID', 'adID_age', 'adID_gender', 'adID_education',
       'adID_marriageStatus', 'adID_haveBaby', 'age_gender',
       'age_gender_edu', 'camgaignID_age', 'camgaignID_gender',
       'camgaignID_education', 'camgaignID_marriageStatus',
       'camgaignID_haveBaby', 'camgaignID_age_gender_edu',
       'adID_age_gender_edu', 'creativeID_age_gender_edu', 'appID_age',
       'appID_gender', 'appID_education', 'appID_marriageStatus',
       'appID_haveBaby', 'appID_age_gender_edu', 'appID_appPlatform',
       'appPlatform_age', 'appPlatform_edu', 'appPlatform_age_gender_edu',
       'positionID_age', 'positionID_gender', 'positionID_education',
       'positionID_marriageStatus', 'positionID_haveBaby',
       'positionID_age_gender_edu', 'sitesetID_age', 'sitesetID_gender',
       'sitesetID_education', 'sitesetID_marriageStatus',
       'sitesetID_haveBaby', 'sitesetID_age_gender_edu']

In [224]:
np.size(vn_list)

74

In [183]:
vn_list_std={}
vn_list_std[1,str]='creativeID'

In [225]:
vn_list_std=pd.DataFrame({'str':range(0,74),'std':range(0,74)})

In [217]:

vn_list_std.loc[0,'str']='creativeID'

In [222]:
vn_list_std

          std         str
0    0.005218       label
1    2.000000  creativeID
2    3.000000           3
3    4.000000           4
4    5.000000           5
5    6.000000           6
6    7.000000           7
7    8.000000           8
8    9.000000           9
9   10.000000          10
10  11.000000          11
11  12.000000          12
12  13.000000          13
13  14.000000          14
14  15.000000          15
15  16.000000          16
16  17.000000          17
17  18.000000          18
18  19.000000          19
19  20.000000          20
20  21.000000          21
21  22.000000          22
22  23.000000          23
23  24.000000          24
24  25.000000          25
25  26.000000          26
26  27.000000          27
27  28.000000          28
28  29.000000          29
29  30.000000          30
..        ...         ...
46  47.000000          47
47  48.000000          48
48  49.000000          49
49  50.000000          50
50  51.000000          51
51  52.000000          52
52  53.000000          53
53  54.000000          54
54  55.000000          55
55  56.000000          56
56  57.000000          57
57  58.000000          58
58  59.000000          59
59  60.000000          60
60  61.000000          61
61  62.000000          62
62  63.000000          63
63  64.000000          64
64  65.000000          65
65  66.000000          66
66  67.000000          67
67  68.000000          68
68  69.000000          69
69  70.000000          70
70  71.000000          71
71  72.000000          72
72  73.000000          73
73  74.000000          74
74  75.000000          75
75  76.000000          76

[76 rows x 2 columns]

In [ ]:
for i in xrange(0,10):
    vn=vn_list[i]
    filter_t = np.logical_and(qqqq.day.values > 16, qqqq.day.values <= 29)
    qqqq['_key1'] = qqqq['telecomsOperator'].astype('category').values.codes
    df_yt = qqqq.ix[filter_t, ['_key1', 'label']]
    grp1 = df_yt.groupby(['_key1'])
    sum1 = grp1['label'].aggregate(np.sum).astype(float)
    cnt1 = grp1['label'].aggregate(np.size)
    vn_list_std.loc[i,'str']=vn
    vn_list_std.loc[i,'std']=(sum1/cnt1).describe()[2]

In [177]:
(sum1/cnt1).describe()[2]

0.0052180997295195493

In [168]:
cnt1

_key1
0           5
1           3
2          15
3           1
4           6
5         149
6          59
7           4
8           2
9          11
11         15
12        354
13          1
15          3
16          9
17          1
20          6
21        559
22        998
23          9
25        272
26         58
27          2
28          2
29         24
30         16
31       4778
32          7
33      14538
34          1
        ...
6284       13
6285       21
6286        2
6287      624
6288       16
6289       33
6291      892
6292        2
6293       77
6294        3
6295        2
6296       27
6297       13
6298      155
6299     2056
6300       64
6301       57
6302      509
6303        1
6304       14
6305      106
6306       20
6307        1
6308       97
6309      163
6310       13
6311        3
6312       15
6313      250
6314        5
Name: label, dtype: int64

In [160]:
qqqq

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator,adID,camgaignID,...,sitesetID_marriageStatus,sitesetID_haveBaby,sitesetID_age_gender_edu,_key1,cnttv_label,cnttv_clickTime,cnttv_creativeID,cnttv_userID,cnttv_positionID,cnttv_connectionType
0,0,170000,NaN,3089,2798058,293,1,1,1321,83,...,3.0,1.0,2521.0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,0,180028,NaN,3089,1683269,293,2,3,1321,83,...,1.0,0.0,2020.0,2,NaN,NaN,NaN,NaN,NaN,NaN
2,0,191045,NaN,3089,240899,293,1,2,1321,83,...,3.0,0.0,1921.0,1,NaN,NaN,NaN,NaN,NaN,NaN
3,0,202250,NaN,5970,2270688,293,1,2,612,83,...,3.0,0.0,2021.0,1,NaN,NaN,NaN,NaN,NaN,NaN
4,0,191858,NaN,3828,1627759,293,1,1,3313,83,...,0.0,0.0,2121.0,1,NaN,NaN,NaN,NaN,NaN,NaN
5,0,201717,NaN,1230,2160346,293,2,1,2765,83,...,0.0,1.0,2321.0,2,NaN,NaN,NaN,NaN,NaN,NaN
6,0,251121,NaN,2434,2160346,293,2,1,1488,139,...,0.0,1.0,2321.0,2,0.0,0.034884,0.0,0.0,0.014115,0.005211
7,0,190807,NaN,1230,502705,293,1,2,2765,83,...,2.0,0.0,1422.0,1,NaN,NaN,NaN,NaN,NaN,NaN
8,0,201402,NaN,1138,1171640,293,1,1,2570,83,...,2.0,1.0,824.0,1,NaN,NaN,NaN,NaN,NaN,NaN
9,0,171117,NaN,1230,844807,293,1,1,2765,83,...,2.0,0.0,1525.0,1,NaN,NaN,NaN,NaN,NaN,NaN
10,0,202026,NaN,5604,2684065,293,1,2,643,83,...,0.0,0.0,1611.0,1,NaN,NaN,NaN,NaN,NaN,NaN
11,0,202159,NaN,2524,2221602,293,1,1,134,83,...,0.0,0.0,1610.0,1,NaN,NaN,NaN,NaN,NaN,NaN
12,0,181730,NaN,4679,1504443,293,2,3,1269,83,...,1.0,0.0,1522.0,2,NaN,NaN,NaN,NaN,NaN,NaN
13,0,171449,NaN,4788,1563237,293,1,3,1357,83,...,1.0,0.0,1821.0,1,NaN,NaN,NaN,NaN,NaN,NaN
14,0,191410,NaN,666,1563237,293,1,3,770,83,...,1.0,0.0,1821.0,1,NaN,NaN,NaN,NaN,NaN,NaN
15,0,242001,NaN,5781,2497715,293,2,3,3573,139,...,1.0,0.0,1725.0,2,0.0,0.042169,0.0,0.0,0.015220,0.005052
16,0,172329,NaN,1230,307027,293,2,1,2765,83,...,1.0,0.0,1821.0,2,NaN,NaN,NaN,NaN,NaN,NaN
17,0,200738,NaN,4788,2506266,293,1,1,1357,83,...,0.0,0.0,1522.0,1,NaN,NaN,NaN,NaN,NaN,NaN
18,0,171840,NaN,5970,1554456,293,1,1,612,83,...,1.0,0.0,1510.0,1,NaN,NaN,NaN,NaN,NaN,NaN
19,0,211603,NaN,4852,27249,293,1,1,2227,83,...,0.0,0.0,1721.0,1,NaN,NaN,NaN,NaN,NaN,NaN
20,0,182300,NaN,2230,2177495,293,2,1,2841,83,...,0.0,1.0,2621.0,2,NaN,NaN,NaN,NaN,NaN,NaN
21,0,200113,NaN,2230,417301,293,2,2,2841,83,...,0.0,1.0,1920.0,2,NaN,NaN,NaN,NaN,NaN,NaN
22,0,191210,NaN,5970,417301,293,2,2,612,83,...,0.0,1.0,1920.0,2,NaN,NaN,NaN,NaN,NaN,NaN
23,0,201018,NaN,2230,1889007,293,2,1,2841,83,...,0.0,1.0,2121.0,2,NaN,NaN,NaN,NaN,NaN,NaN
24,0,180915,NaN,6462,217558,293,1,1,2196,83,...,2.0,0.0,1421.0,1,NaN,NaN,NaN,NaN,NaN,NaN
25,0,211809,NaN,5359,1200372,293,1,1,3391,83,...,1.0,0.0,2021.0,1,NaN,NaN,NaN,NaN,NaN,NaN
26,0,220638,NaN,1230,2466176,293,1,2,2765,83,...,2.0,1.0,3926.0,1,0.0,0.000000,0.0,0.0,0.011207,0.021573
27,0,241959,NaN,3014,2466176,293,2,2,2402,139,...,2.0,1.0,3926.0,2,0.0,0.011173,0.0,0.0,0.015220,0.005052
28,0,191606,NaN,2129,989475,293,1,1,1159,83,...,0.0,0.0,1723.0,1,NaN,NaN,NaN,NaN,NaN,NaN
29,0,281245,NaN,5866,1099185,293,2,2,1412,139,...,3.0,0.0,2012.0,2,0.0,0.021978,0.0,0.0,0.013151,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3749498,0,241936,NaN,5668,1934759,4140,1,2,3414,612,...,10.0,10.0,11712.0,1,0.0,0.042781,NaN,NaN,NaN,0.024598
3749499,0,242254,NaN,5668,2664600,4140,1,0,3414,612,...,11.0,10.0,11911.0,1,0.0,0.007463,NaN,NaN,NaN,0.024598
3749500,0,261045,NaN,5668,1195708,4140,1,1,3414,612,...,10.0,10.0,12115.0,1,0.0,0.032000,NaN,NaN,0.003521,0.027064
3749501,0,261909,NaN,5668,2795360,4140,1,2,3414,612,...,10.0,10.0,12122.0,1,0.0,0.032129,NaN,NaN,0.003521,0.027064
3749502,0,270925,NaN,5668,1305303,4140,1,1,3414,612,...,11.0,10.0,11812.0,1,0.0,0.031847,NaN,NaN,0.014382,0.029215
3749503,0,270929,NaN,5668,398898,4140,1,3,3414,612,...,10.0,10.0,11915.0,1,0.0,0.034483,NaN,NaN,0.014382,0.029215
3749504,0,270933,NaN,5668,2467999,4140,1,1,3414,612,...,10.0,10.0,11911.0,1,0.0,0.011111,NaN,NaN,0.014382,0.029215
3749505,0,270944,NaN,5668,1520399,4140,1,2,3414,612,...,11.0,10.0,12111.0,1,0.0,0.017751,NaN,NaN,0.014382,0.029215
3749506,0,270949,NaN,5668,10855,4140,1,3,3414,612,...,10.0,10.0,12115.0,1,0.0,0.013889,NaN,NaN,0.014382,0.029215
3749507,0,271000,NaN,5668,559123,4140,1,3,3414,612,...,11.0,10.0,12411.0,1,0.0,0.000000,NaN,NaN,0.014382,0.029215
3749508,0,271039,NaN,5668,423639,4140,1,0,3414,612,...,11.0,10.0,12111.0,1,0.0,0.016393,NaN,NaN,0.014382,0.029215
3749509,0,271051,NaN,5668,133289,4140,1,3,3414,612,...,11.0,10.0,12411.0,1,0.0,0.000000,NaN,NaN,0.014382,0.029215
3749510,0,271104,NaN,5668,2279285,4140,1,2,3414,612,...,11.0,10.0,12011.0,1,0.0,0.020270,NaN,NaN,0.014382,0.029215
3749511,0,271129,NaN,5668,1140782,4140,1,2,3414,612,...,11.0,10.0,12212.0,1,0.0,0.000000,NaN,NaN,0.014382,0.029215
3749512,0,271145,NaN,5668,2233928,4140,1,1,3414,612,...,11.0,10.0,12012.0,1,0.0,0.006536,NaN,NaN,0.014382,0.029215
3749513,0,271243,NaN,5668,2008080,4140,1,2,3414,612,...,11.0,10.0,12011.0,1,0.0,0.024242,NaN,NaN,0.014382,0.029215
3749514,0,271247,NaN,5668,2687988,4140,1,1,3414,612,...,10.0,10.0,11512.0,1,0.0,0.006849,NaN,NaN,0.014382,0.029215
3749515,0,271826,NaN,5668,1980493,4140,1,2,3414,612,...,11.0,10.0,12015.0,1,0.0,0.027027,NaN,NaN,0.014382,0.029215
3749516,0,271827,NaN,5668,1579090,4140,1,0,3414,612,...,11.0,10.0,11911.0,1,0.0,0.020000,NaN,NaN,0.014382,0.029215
3749517,0,271842,NaN,5668,512059,4140,1,0,3414,612,...,11.0,10.0,12116.0,1,0.0,0.040650,NaN,NaN,0.014382,0.029215
3749518,0,280938,NaN,5668,762717,4140,1,3,3414,612,...,11.0,10.0,12116.0,1,0.0,0.023669,NaN,NaN,0.009599,NaN
3749519,0,280948,NaN,5668,1143292,4140,1,1,3414,612,...,10.0,10.0,11913.0,1,0.0,0.012987,NaN,NaN,0.009599,NaN
3749520,0,281001,NaN,5668,222152,4140,1,3,3414,612,...,10.0,10.0,11915.0,1,0.0,0.013158,NaN,NaN,0.009599,NaN
3749521,0,281028,NaN,5668,2450007,4140,1,1,3414,612,...,11.0,10.0,12611.0,1,0.0,0.025478,NaN,NaN,0.009599,NaN
3749522,0,281120,NaN,5668,2734717,4140,1,0,3414,612,...,11.0,10.0,11811.0,1,0.0,0.013514,NaN,NaN,0.009599,NaN
3749523,0,281228,NaN,5668,1933342,4140,1,2,3414,612,...,11.0,10.0,12211.0,1,0.0,0.029557,NaN,NaN,0.009599,NaN
3749524,0,281410,NaN,5668,1190883,4140,1,2,3414,612,...,11.0,10.0,12011.0,1,0.0,0.020725,NaN,NaN,0.009599,NaN
3749525,0,241642,NaN,5164,2639404,4140,1,2,3414,612,...,11.0,10.0,12315.0,1,0.0,0.063158,NaN,NaN,NaN,0.024598
3749526,0,241925,NaN,5164,2683273,4140,1,1,3414,612,...,11.0,10.0,12611.0,1,0.0,0.025157,NaN,NaN,NaN,0.024598
3749527,0,241717,NaN,6181,1129240,4140,1,2,3414,612,...,13.0,10.0,12012.0,1,0.0,0.000000,NaN,NaN,NaN,0.024598

In [113]:
dw=train.ix[train.conversionTime>0]

In [114]:
dw

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator,adID,camgaignID,...,sitesetID_marriageStatus,sitesetID_haveBaby,sitesetID_age_gender_edu,_key1,cnttv_label,cnttv_clickTime,cnttv_creativeID,cnttv_userID,cnttv_positionID,cnttv_connectionType
5901,1,271924,271926.0,3316,947539,3759,1,1,2264,139,...,2.0,0.0,0.0,1,1.0,0.031373,0.100000,0.500000,0.006117,0.029215
11202,1,241815,250003.0,6309,761227,6119,1,3,364,139,...,2.0,0.0,5212.0,1,1.0,0.024194,0.000000,NaN,0.018131,0.024598
12136,1,292139,292141.0,5681,382261,2831,1,1,2032,139,...,2.0,0.0,4313.0,1,1.0,0.021505,0.013699,0.250000,0.008292,NaN
13290,1,282358,282359.0,642,282222,2952,1,1,3290,139,...,0.0,0.0,1323.0,1,1.0,0.027778,0.027778,1.000000,0.023364,NaN
15623,1,252201,252207.0,6237,1245319,7219,1,1,1114,139,...,0.0,1.0,0.0,1,1.0,0.012821,0.000000,0.000000,0.023504,0.024714
15744,1,250938,250939.0,4592,2142353,7219,1,1,1711,139,...,0.0,0.0,1411.0,1,1.0,0.055556,0.052632,0.333333,0.023504,0.024714
15749,1,291310,291347.0,2696,1318741,7219,1,1,711,139,...,0.0,0.0,1104.0,1,1.0,0.026316,0.000000,0.000000,0.036289,NaN
15750,1,281844,281845.0,2159,1327494,7219,1,1,1283,139,...,0.0,1.0,2926.0,1,1.0,0.034783,0.018519,0.500000,0.033764,NaN
15772,1,291553,291748.0,2479,2382824,7219,1,1,1326,139,...,0.0,0.0,1510.0,1,1.0,0.039130,0.038462,0.333333,0.036289,NaN
16268,1,241946,260004.0,5387,645852,7219,1,1,607,139,...,1.0,0.0,3015.0,1,1.0,0.020000,0.062500,1.000000,0.011043,0.024598
16272,1,291036,291042.0,5387,1860054,7219,1,1,607,139,...,0.0,0.0,1314.0,1,1.0,0.053892,0.064516,1.000000,0.036289,NaN
16338,1,281440,281450.0,4330,1616996,7219,1,1,68,139,...,1.0,0.0,1211.0,1,1.0,0.020305,0.037037,1.000000,0.033764,NaN
16346,1,292003,292008.0,5526,1209095,7219,1,1,511,139,...,0.0,0.0,1201.0,1,1.0,0.029900,0.000000,NaN,0.036289,NaN
17859,1,271246,271248.0,1458,1318262,4624,1,1,2476,139,...,0.0,0.0,1113.0,1,1.0,0.041420,0.007042,0.500000,0.087704,0.029215
19563,1,291152,291153.0,935,2737404,5909,1,2,64,139,...,2.0,1.0,2721.0,1,1.0,0.027668,0.009524,0.200000,0.007346,NaN
27278,1,281649,281649.0,4448,1971738,1614,2,1,1913,139,...,0.0,0.0,1113.0,2,1.0,0.032432,0.030303,1.000000,0.008772,NaN
29812,1,271322,271322.0,5322,2055508,7434,1,3,1162,139,...,0.0,0.0,0.0,1,1.0,0.063953,0.017241,0.500000,0.008305,0.029215
30915,1,271859,271905.0,916,1791203,4867,1,3,1064,139,...,1.0,0.0,1811.0,1,1.0,0.028000,0.027027,0.250000,0.003954,0.029215
31223,1,251652,262253.0,845,357392,4867,1,1,3460,139,...,2.0,1.0,3012.0,1,1.0,0.009091,0.017544,1.000000,0.003800,0.024714
35447,1,291110,291436.0,5437,295027,2868,1,1,57,139,...,0.0,0.0,1822.0,1,1.0,0.012821,0.000000,NaN,0.026729,NaN
36489,1,281324,282115.0,155,924298,2426,1,3,40,139,...,0.0,1.0,2711.0,1,1.0,0.028249,0.010309,1.000000,0.015875,NaN
36573,1,242229,242248.0,3918,1650211,2426,1,1,179,139,...,0.0,0.0,1512.0,1,1.0,0.007519,0.006250,1.000000,0.017094,0.024598
37690,1,281819,281820.0,4186,1247125,5013,1,1,343,139,...,2.0,0.0,4312.0,1,1.0,0.022523,0.006536,0.666667,0.066768,NaN
37720,1,291305,291306.0,2738,645896,5013,1,1,2236,139,...,0.0,0.0,4.0,1,1.0,0.016575,0.008696,1.000000,0.069030,NaN
39474,1,261002,261002.0,4537,1258377,3688,1,2,2145,139,...,0.0,0.0,1413.0,1,1.0,0.025641,0.007407,0.055556,0.007831,0.027064
42538,1,251754,262358.0,6281,754931,103,1,1,892,139,...,0.0,0.0,1213.0,1,1.0,0.049180,0.016667,0.100000,0.010756,0.024714
43168,1,290959,291002.0,5246,331645,977,1,1,3128,139,...,1.0,0.0,1523.0,1,1.0,0.040936,0.027027,0.333333,0.015567,NaN
44733,1,242251,242253.0,3719,2584793,2931,1,3,3581,139,...,0.0,0.0,1523.0,1,1.0,0.017544,0.029630,1.000000,0.010722,0.024598
45127,1,242117,242117.0,1223,1513256,7511,1,1,2301,139,...,2.0,1.0,2620.0,1,1.0,0.042683,0.008403,0.142857,0.012818,0.024598
45314,1,242102,242103.0,5681,1846695,7511,1,1,2032,139,...,0.0,1.0,3.0,1,1.0,0.011236,0.013986,0.500000,0.012818,0.024598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3748620,1,291452,291518.0,3536,356787,1842,1,2,537,689,...,10.0,10.0,12111.0,1,1.0,0.004878,NaN,NaN,0.073425,NaN
3748635,1,291557,291718.0,3536,1676108,1842,1,2,537,689,...,10.0,10.0,11911.0,1,1.0,0.037234,NaN,NaN,0.073425,NaN
3748636,1,291557,291718.0,3536,1394789,1842,1,1,537,689,...,11.0,10.0,12211.0,1,1.0,0.037234,NaN,NaN,0.073425,NaN
3748673,1,291748,291818.0,3536,572557,1842,1,2,537,689,...,11.0,10.0,12611.0,1,1.0,0.012048,NaN,NaN,0.073425,NaN
3748685,1,291817,291918.0,3536,2542284,1842,1,3,537,689,...,11.0,10.0,12211.0,1,1.0,0.021898,NaN,NaN,0.073425,NaN
3748688,1,291824,291918.0,3536,1451735,1842,1,3,537,689,...,12.0,11.0,11911.0,1,1.0,0.028689,NaN,NaN,0.073425,NaN
3748695,1,291854,292018.0,3536,74867,1842,1,2,537,689,...,11.0,10.0,12113.0,1,1.0,0.016611,NaN,NaN,0.073425,NaN
3748696,1,291904,292018.0,3536,2641778,1842,1,2,537,689,...,11.0,10.0,12911.0,1,1.0,0.046099,NaN,NaN,0.073425,NaN
3748700,1,291921,292018.0,3536,1554232,1842,1,1,537,689,...,11.0,10.0,11913.0,1,1.0,0.022654,NaN,NaN,0.073425,NaN
3748708,1,291943,292018.0,3536,879047,1842,1,2,537,689,...,11.0,10.0,12312.0,1,1.0,0.026882,NaN,NaN,0.073425,NaN
3748711,1,291955,292018.0,3536,671732,1842,1,3,537,689,...,13.0,10.0,12412.0,1,1.0,0.017699,NaN,NaN,0.073425,NaN
3748714,1,292000,292118.0,3536,470617,1842,1,2,537,689,...,13.0,10.0,12112.0,1,1.0,0.020588,NaN,NaN,0.073425,NaN
3748719,1,292016,292218.0,3536,2176506,1842,1,2,537,689,...,12.0,12.0,13715.0,1,1.0,0.029851,NaN,NaN,0.073425,NaN
3748729,1,292044,292318.0,3536,153982,1842,1,2,537,689,...,11.0,10.0,11911.0,1,1.0,0.022663,NaN,NaN,0.073425,NaN
3748731,1,292048,292118.0,3536,608918,1842,1,1,537,689,...,11.0,10.0,12312.0,1,1.0,0.017143,NaN,NaN,0.073425,NaN
3748733,1,292053,292218.0,3536,2716675,1842,1,2,537,689,...,10.0,10.0,11613.0,1,1.0,0.032432,NaN,NaN,0.073425,NaN
3748741,1,292154,292218.0,3536,1737113,1842,1,2,537,689,...,11.0,10.0,11711.0,1,1.0,0.012461,NaN,NaN,0.073425,NaN
3748749,1,292230,292318.0,3536,819452,1842,1,3,537,689,...,11.0,10.0,12211.0,1,1.0,0.015748,NaN,NaN,0.073425,NaN
3748836,1,191007,191119.0,2525,2223814,7112,2,1,1642,51,...,12.0,13.0,13111.0,2,NaN,NaN,NaN,NaN,NaN,NaN
3748850,1,202108,210117.0,2525,1060988,7112,1,1,1642,51,...,11.0,10.0,12611.0,1,NaN,NaN,NaN,NaN,NaN,NaN
3748851,1,202204,202317.0,2525,553634,7112,1,2,1642,51,...,12.0,11.0,12911.0,1,NaN,NaN,NaN,NaN,NaN,NaN
3748861,1,220933,221018.0,2525,285570,7112,1,2,1642,51,...,10.0,10.0,12311.0,1,1.0,0.027027,NaN,NaN,NaN,0.021573
3748863,1,221513,221618.0,2525,788818,7112,1,1,1642,51,...,12.0,10.0,13411.0,1,1.0,0.041667,NaN,NaN,NaN,0.021573
3748876,1,231745,231818.0,2525,273513,7112,1,2,1642,51,...,11.0,10.0,12816.0,1,1.0,0.025641,NaN,NaN,NaN,0.022623
3748878,1,291954,292118.0,3536,1856073,7112,1,1,537,689,...,11.0,10.0,12512.0,1,1.0,0.029499,NaN,0.000000,0.112903,NaN
3748882,1,251529,251818.0,3536,2464645,7112,1,2,537,689,...,12.0,10.0,12911.0,1,1.0,0.035398,NaN,NaN,NaN,0.024714
3748892,1,271121,271318.0,3536,1417658,7112,2,1,537,689,...,10.0,10.0,12711.0,2,1.0,0.042254,NaN,NaN,NaN,0.007492
3748894,1,271319,271718.0,3536,1455702,7112,2,1,537,689,...,11.0,10.0,13012.0,2,1.0,0.051136,NaN,NaN,NaN,0.007492
3748904,1,292056,292318.0,3536,139958,7112,1,2,537,689,...,11.0,10.0,12312.0,1,1.0,0.016835,NaN,NaN,0.112903,NaN
3749467,1,281334,281420.0,5668,2431550,1795,1,2,3414,612,...,12.0,10.0,13311.0,1,1.0,0.022857,NaN,NaN,0.030739,NaN

In [135]:
dw['time']=(dw.conversionTime.astype(int).values/10000-17)*24+dw.conversionTime.astype(int).values/100%100-(dw.clickTime.values/10000-17)*24-dw.clickTime.values/100%100

F:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

array([10,  7, 12, ..., 10, 12, 11], dtype=int64)

In [154]:
dw.time.describe()

count    93262.000000
mean         4.453432
std         11.449240
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max        119.000000
Name: time, dtype: float64

In [155]:
train[0:1]

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator,adID,camgaignID,...,sitesetID_marriageStatus,sitesetID_haveBaby,sitesetID_age_gender_edu,_key1,cnttv_label,cnttv_clickTime,cnttv_creativeID,cnttv_userID,cnttv_positionID,cnttv_connectionType
0,0,170000,NaN,3089,2798058,293,1,1,1321,83,...,3.0,1.0,2521.0,1,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
3788./93262

0.04061675709292102

In [111]:
for vn in vn_list:
     expctr(train,vn)

MemoryError:

In [ ]:
del train['_key1']